html, body{
    height: 100%;
    margin: 0;
    padding: 0;

}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/mars_1.jpg');
    background-size: cover;
}



.tempDiv{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    text-align: center;
    border: 3px solid black;
    position: fixed;
    bottom: -230px;
    width: 16.5%;
    transition: margin 1s, opacity 1s; 
    display: flex;
}

.tempDiv p, h1 {
    color:white;
    opacity: 1;
    font-family: 'Courier New', Courier, monospace;
}

.actualDiv h1{
    font-size: 48px;
}

.actualDiv{
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border: 3px solid black;
    width:80%;
    height: 400px;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-size: 22px;
}

.actualDiv div:nth-child(1) {
    float: left;
    margin-left: 5%;
}
.actualDiv div:nth-child(2) {
    float: left;
    margin-left: 15%;
}

.actualDiv div:nth-child(3) {
    float: right;
    margin-right: 5%;
}
.actualDiv div:nth-child(4) {
    float: right;
    margin-right: 5%;
}

#Title{
    width: 100%;
    font-size: 48px;
}

.wrapper {
    display: fixed;
    width: 200px;
    height: 60px;
       
}
.nav.is-nav-open {
    margin-bottom: 230px;
    transform: rotate(180deg);
}
.nav {
    position: fixed;
    width: 200px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid black;
    bottom:0px;
    transition: margin 1s; 
}

.nav__icon:hover {
    color: #5eb2ff;
}

.nav__icon{
    position: absolute;
    left: 37.5%;
    top: 7.5%;
}
.tempDiv.is-hide{
    margin-bottom: 230px;  
    transition: margin 1s;
    opacity: 1;
}

.secDiv p{
    font-size: 18px;
}
.secDiv h1{
    font-size: 36px;
}

.toggle {
    height:45px;
    width:100px;
    border-radius: 50px;
    border: 1px solid black;
    background: rgb(58, 46, 46);
    position:relative; 
}

.toggle.F{
    background:yellow;
}

.notch {
    height:40px;
    width:40px;
    border-radius: 50%;
    background:black;
    position: absolute;
    top:2px;
    left:1px;
    box-shadow: 0 0 5px red;
}