html, body{
    height: 100%;
    margin: 0;
    padding: 0;

}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/mars_1.jpg');
    background-size: 100%;
}



.tempDiv{
    background-color: rgba(68, 68, 68, 0.7);
    opacity: 0;
    text-align: center;
    border: 3px solid black;
    position: fixed;
    top: 290px;
    width: 16.5%;
    transition: margin 1s, opacity 1s;
    margin: 0 0 0 0;
    z-index: -1;
  
}

.tempDiv p, h1 {
    color:white;
    opacity: 1;
}

.actualDiv{
    background-color: rgba(68, 68, 68, 0.7);
    text-align: center;
    border: 3px solid black;
    width:80%;
    z-index: 1;
}

#Title{
    width: 100%;
    font-size: 48px;
}

.wrapper {
    display: flex;
    width: 200px;
    height: 60px;
    transition: margin .5s;
    margin: 0 0 0 0;
}

.wrapper.is-nav-open {
    margin-top: 225px;
}
.nav {
    position: relative;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;
    background-color: rgba(68, 68, 68, 0.7);
    border: 3px solid black;
}

.nav__icon:hover {
    color: #5eb2ff;
}
.tempDiv.is-hide{
    margin-top: 225px;
    transition: margin 1s;
    opacity: 1;
}